repos:
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v2.1.1
  hooks:
  - id: conventional-pre-commit
    stages: [commit-msg]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.1
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.2.2
  hooks:
  - id: pydocstyle
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1
  hooks:
  - id: mypy
- repo: https://github.com/netromdk/vermin
  rev: v1.8.0
  hooks:
  - id: vermin
    name: Verify Python 3.6+ compatibility
    args: ['-t=3.6-', '--violations']
- repo: local
  hooks:
  - id: gitchangelog
    language: system
    always_run: true
    pass_filenames: false
    name: Generate changelog
    entry: bash -c ".venv/bin/gitchangelog > CHANGELOG.md"
    stages: [pre-commit]
