repos:
- repo: https://github.com/ambv/black
  rev: 19.10b0
  hooks:
  - id: black
    args: [--line-length=120]
- repo: git://github.com/doublify/pre-commit-isort
  rev: v4.3.0
  hooks:
  -   id: isort
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.9
  hooks:
  -   id: flake8
- repo: git://github.com/skorokithakis/pre-commit-mypy
  rev: v0.701
  hooks:
  - id: mypy
    args: [-s]
