language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
install:
  - python setup.py install
  - pip install pre-commit
script:
  - pre-commit run -a
  - python setup.py test
