language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
install:
  - python setup.py install
  - pip install pre-commit
script:
  - if [[ "$TOXENV" == "py36" ]]; then pre-commit run -a; fi
  - python setup.py test
